# Slack Webhook URLs (로컬 개발용)
SLACK_WEBHOOK_INQUIRY=https://hooks.slack.com/services/YOUR_INQUIRY_WEBHOOK
SLACK_WEBHOOK_NEWSLETTER=https://hooks.slack.com/services/YOUR_NEWSLETTER_WEBHOOK
SLACK_WEBHOOK_MONITORING=https://hooks.slack.com/services/YOUR_MONITORING_WEBHOOK

# Google Cloud Project ID
GOOGLE_CLOUD_PROJECT_ID=logbase-blog-83db6

# Secret Manager Secret Names (Firebase 서버용)
SECRET_NAME_INQUIRY=slack-webhook-inquiry
SECRET_NAME_NEWSLETTER=slack-webhook-newsletter
SECRET_NAME_MONITORING=slack-webhook-monitoring 